{{!--   Description:  Page View for adding a new company    --}}

<title>Add Project</title>
        
{{!-- Container for the dashboard --}}
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" id="main-box">
    <div class="mdl-card__title mdl-color-text--white dashboard-top-bar">
        <h2 class="mdl-card__title-text">Add Project</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <form id="recordForm" action="/insertProject">
            <fieldset>
                <legend>Project Details</legend>
                <label for="project-name">Project Name</label>
                <input required type="text" name="projectName" id="project-name-field"><br>

                <label for="project-company">Company</label>
                <select class="submitBtn" required name="projectCompany" id="project-company-field">
                    <option disabled selected>Select a Company</option>
                    {{#each companies}}
                        <option>{{this.companyName}}</option>
                    {{/each}}
                </select> <br>
        
                <label for="started-date">Date Started</label>
                <input class="submitBtn" required type="date" name="startedDate" id="project-date-started-field" placeholder="yyyy-mm-dd"> <br>

                <label for="updated-date">Last Updated</label>
                <input class="submitBtn" required type="date" name="updatedDate" id="project-date-updated-field" placeholder="yyyy-mm-dd"> <br>
        
                <label for="maintenance">In Maintenance</label>
                <input checked class="radio-input" type="radio" name="maintenance" value="1" id="maintenance-yes"><label class="radio-label" for="maintenance">Yes</label>
                <input class="radio-input" type="radio" name="maintenance" value="0" id="maintenance-no"><label class="radio-label" for="maintenance">No</label>
                <br>

                <input class="submitBtn" type="submit" id="save" value="Add">
                <div id="spinner" class = "mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            </fieldset>
        </form>
    </div>
</div>
<br>

{{!-- Container for Projects Table --}}
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" id="main-box">
    <div class="mdl-card__title mdl-color-text--white dashboard-top-bar">
        <h2 class="mdl-card__title-text">Current Projects</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="recordTable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Project Name</th>
                    <th class="mdl-data-table__cell--non-numeric">Company</th>
                    <th class="mdl-data-table__cell--non-numeric">Date Started</th>
                    <th class="mdl-data-table__cell--non-numeric">Last Updated</th>
                    <th class="mdl-data-table__cell--non-numeric">In Maintenance</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{this.projectName}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{this.companyName}}</td>
                        <td>{{this.dateStarted}}</td>
                        <td>{{this.lastUpdated}}</td>
                        <td>{{#if this.inMaintenance}} Yes {{else}} No {{/if}}</td>
                    </tr>
                {{/each}}                
            </tbody>
        </table>
    </div>
</div>

{{!-- Client side javascript file --}}
<script src="js/add-project.js"></script>
