{{!--  Description:  Page View for adding a new programmer      --}}

<title>Add Programmer</title>
           
{{!-- Container for the dashboard --}}
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__title mdl-color-text--white dashboard-top-bar">
        <h2 class="mdl-card__title-text">Add Programmer</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <form id="recordForm" action="/insertProgrammer">
            <fieldset>
                <legend>Programmer Details</legend>
        
                <label for="programmer-fname">First name</label>
                <input required type="text" name="programmerFName" id="programmer-fname-field"> <br>

                <label for="programmer-lname">Last name</label>
                <input required type="text" name="programmerLName" id="programmer-lname-field"> <br>

                <label for="programmer-email">Email</label>
                <input required type="text" name="userEmail" id="programmer-email-field"> <br>
        
                <label for="started-date">Date Started</label>
                <input class="submitBtn" required type="date" name="startedDate" id="project-date-started-field" placeholder="yyyy-mm-dd"> <br>

                <label for="programmer-access">Access Level</label>
                <select class="submitBtn" required name="programmerAccess" id="programmer-access-field">
                    <option value="" disabled selected>Select an access level (Highest: 4)</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select> <br>

                <input class="submitBtn" type="submit" id="save" value="Add">
                <div id="spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            </fieldset>
        </form>
    </div>
</div>
<br>

{{!-- Container for Programmers Table --}}
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__title mdl-color-text--white dashboard-top-bar">
        <h2 class="mdl-card__title-text">Current Programmers</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="recordTable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Programmer Name</th>
                    <th class="mdl-data-table__cell--non-numeric">Email</th>
                    <th class="mdl-data-table__cell--non-numeric">Date Started</th>
                    <th class="mdl-data-table__cell--non-numeric">Access Level</th>
                </tr>
            </thead>
            <tbody>
                {{#each programmers}}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{this.firstName}} {{this.lastName}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{this.email}}</td>
                    <td>{{this.dateStarted}}</td>
                    <td>{{this.accessLevel}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- Client side javascript file --}}
<script src="js/add-programmers.js"></script>
