{{!  Description:  This view is the component that renders the edit bug page           }}
{{!                where the user is sent when they select edit on a bug in the list   }}

<title>Bug Dashboard</title>
<link type="text/css" rel="stylesheet" href="css/user-home.css">
      
<!-- Container for the dashboard -->
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" id="main-box">
    <div class="mdl-card__title mdl-color-text--white dashboard-top-bar">
        <h2 class="mdl-card__title-text">Update Bug</h2>
    </div>

    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <form id="recordForm" action="/updateBug">
            <div class="grid-container">
                <div><label class="textarea-label" for="bugSummary">Bug Summary</label></div>
                <div><textarea required name="bugSummary" id="bug-summary-field">{{editBug.bugSummary}}</textarea></div>

                <div><label class="textarea-label" for="bug-description">Bug Description</label></div>
                <div><textarea required name="bugDescription" id="bug-description-field">{{editBug.bugDescription}}</textarea></div>

                <div><label for="bug-project">Project</label></div>
                <div>
                    <select class="submitBtn" name="bugProject" id="bug-project-field">
                        {{#with editBug}} 
                            {{#if this.projectName}}
                                <option value="{{this.project}}" selected="selected">{{this.projectName}}</option>
                            {{else}}
                                <option value="{{this.project}}" selected="selected">NULL</option>
                            {{/if}} 
                        {{/with}}
                        <option value="">NULL</option>
                        {{#each projects}}
                            <option value="{{this.projectId}}">{{this.projectName}}</option>
                        {{/each}}
                    </select>          
                </div>
                
                <div><label for="bugProgrammer">Programmers</label></div>
                <div class="checkbox-container">
                    {{#each programmers}}
                        {{#if this.checked}}
                            <input 
                                checked="checked" 
                                class="checkbox-input" 
                                type="checkbox" 
                                id="{{this.programmerId}}" 
                                name="programmerId" 
                                value="{{this.programmerId}}"
                            >
                        {{else}}
                            <input 
                                class="checkbox-input" 
                                type="checkbox" 
                                id="{{this.programmerId}}" 
                                name="programmerId" 
                                value="{{this.programmerId}}"
                            >
                        {{/if}}
                        <label for="programmer1">{{this.firstName}} {{this.lastName}}</label><br>
                    {{/each}} 
                </div>

                <div><label for="bug-start-date">Date Started</label></div>
                <div><input placeholder="yyyy-mm-dd" class="submitBtn" required type="date" name="bugStartDate" id="bug-start-date-field" value="{{editBug.dateStarted}}"></div>

                <div><label for="bug-priority">Priority</label></div>                
                <div>
                    <select class="submitBtn" name="bugPriority" id="bug-priority-field" required>
                        <option selected="selected" value="{{editBug.priority}}">{{editBug.priority}}</option>
                        <option value="" disabled>Select a priority (Highest: 5)</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select> 
                </div>
                
                {{!-- Render the correct state of fixed --}}
                <div><label for="bug-fixed">Fixed</label></div>
                <div>
                    {{#if editBug.fixed}}
                    <input class="radio-input" type="radio" name="bugFixed" value="1" id="bug-fixed-yes" checked>
                    <label class="radio-label" for="bug-fixed">Yes</label>
                    <input class="radio-input" type="radio" name="bugFixed" value="0" id="bug-fixed-no">
                    <label class="radio-label" for="bug-fixed">No</label>
                    {{else}}
                    <input class="radio-input" type="radio" name="bugFixed" value="1" id="bug-fixed-yes">
                    <label class="radio-label" for="bug-fixed">Yes</label>
                    <input class="radio-input" type="radio" name="bugFixed" value="0" id="bug-fixed-no" checked>
                    <label class="radio-label" for="bug-fixed">No</label>
                    {{/if}}
                </div>

                <div><label class="textarea-label" for="bug-resolution">Resolution</label></div>
                <div><textarea name="bugResolution" id="bug-resolution-field">{{editBug.resolution}}</textarea></div>

                <div>
                    <input class="submitBtn" type="submit" id="save" name="{{editBug.bugId}}" value="Submit" onclick="checkBoxChecked()">
                </div>
            </div>
        </form>
    </div>
</div>

{{!-- Client side javascript file --}}
<script src="js/edit-bug.js"></script>
